<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMIRisk Admin</title>
    <link rel = "stylesheet" type = "text/css" media = "all" href = "/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
</head>

<body>
    <%- include('partials/topbar')%>
        <h1>Search Results</h1><br><br>
        <div class="srchbarcont">
        <form method="POST" action="/search" class="srchbar">
            <label for="srchclients">Select client: </label><br>
            <select name="srchclients" id="srchclients">
                <option selected="selected">--SELECT CLIENT--</option>
                <% for(var i=0; i < dropdownData.length; i++) { %>
                <option>
                    <%= dropdownData[i].client_name %>
                </option>
              <%}%>
            </select>
            <button type="submit" class="srchbutton">Search</button>
        </form>
        </div>
        <style>
            .srchbar {
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;
            }
            
            .srchbutton {
                background-color: rgb(62, 62, 145);
                color: white;
            }
            
            #srch1 {
                margin-right: 5px;
            }
        </style>
        <%console.log(fieldData)%>
            <table border="1">
                <tr>
                    <th>Client Name</th>
                    <th>Project</th>
                    <% if(fieldData[0]==1) {%>
                        <th>Valuation Date</th>
                        <% } %>

                            <% if(fieldData[1]==1) {%>
                                <th>Additional Description</th>
                                <% } %>

                                    <% if(fieldData[2]==1) {%>
                                        <th>Consultant</th>
                                        <% } %>

                                            <% if(fieldData[3]==1) {%>
                                                <th>Manila ID</th>
                                                <% } %>

                                                    <% if(fieldData[4]==1) {%>
                                                        <th>Date Received</th>
                                                        <% } %>

                                                            <% if(fieldData[5]==1) {%>
                                                                <th>Date Finalized</th>
                                                                <% } %>

                                                                    <% if(fieldData[6]==1) {%>
                                                                        <th>Fee</th>
                                                                        <% } %>

                                                                            <% if(fieldData[7]==1) {%>
                                                                                <th>Billed ID</th>
                                                                                <% } %>

                                                                                    <% if(fieldData[8]==1) {%>
                                                                                        <th>Date Billed</th>
                                                                                        <% } %>

                                                                                            <% if(fieldData[9]==1) {%>
                                                                                                <th>Ref No.</th>
                                                                                                <% } %>

                                                                                                    <% if(fieldData[10]==1) {%>
                                                                                                        <th>Status ID</th>
                                                                                                        <% } %>

                                                                                                            <% if(fieldData[11]==1) {%>
                                                                                                                <th>Mailed by</th>
                                                                                                                <% } %>

                                                                                                                    <% if(fieldData[12]==1) {%>
                                                                                                                        <th>Contact</th>
                                                                                                                        <% } %>

                                                                                                                            <% if(fieldData[13]==1) {%>
                                                                                                                                <th>Billing Name</th>
                                                                                                                                <% } %>

                                                                                                                                    <% if(fieldData[14]==1) {%>
                                                                                                                                        <th>Company Address</th>
                                                                                                                                        <% } %>

                                                                                                                                            <% if(fieldData[15]==1) {%>
                                                                                                                                                <th>Billing Address</th>
                                                                                                                                                <% } %>

                                                                                                                                                    <% if(fieldData[16]==1) {%>
                                                                                                                                                        <th>Billing Email</th>
                                                                                                                                                        <% } %>

                                                                                                                                                            <% if(fieldData[17]==1) {%>
                                                                                                                                                                <th>Billing CC</th>
                                                                                                                                                                <% } %>

                                                                                                                                                                    <% if(fieldData[18]==1) {%>
                                                                                                                                                                        <th>Line of Work</th>
                                                                                                                                                                        <% } %>
                                                                                                                                                                    <th>Actions To do</th>


                </tr>

                <%
         if(projectData.length!=0){
        var i=1;
        projectData.forEach(function(data){
        %>
                    <tr>


                        <td>
                            <%=data.client_name %>
                        </td>
                        <td>
                            <%=data.project %>
                        </td>
                        <% if( fieldData[0]==1) {%>
                            <td>
                                <%=data.Valuation_date %>
                            </td>
                            <% } %>

                                <% if( fieldData[1]==1) {%>
                                    <td>
                                        <%=data.Additional_Description %>
                                    </td>
                                    <% } %>

                                        <% if( fieldData[2]==1) {%>
                                            <td>
                                                <%=data.miami_id %>
                                            </td>
                                            <% } %>

                                                <% if( fieldData[3]==1) {%>
                                                    <td>
                                                        <%=data.manila_id %>
                                                    </td>
                                                    <% } %>

                                                        <% if( fieldData[4]==1) {%>
                                                            <td>
                                                                <%=data.data_received %>
                                                            </td>
                                                            <% } %>

                                                                <% if( fieldData[5]==1) {%>
                                                                    <td>
                                                                        <%=data.date_finalized %>
                                                                    </td>
                                                                    <% } %>

                                                                        <% if( fieldData[6]==1) {%>
                                                                            <td>
                                                                                <%=data.fee%>
                                                                            </td>
                                                                            <% } %>

                                                                                <% if( fieldData[7]==1) {%>
                                                                                    <td>
                                                                                        <%=data.billed_id %>
                                                                                    </td>
                                                                                    <% } %>

                                                                                        <% if( fieldData[8]==1) {%>
                                                                                            <td>
                                                                                                <%=data.date_billed %>
                                                                                            </td>
                                                                                            <% } %>

                                                                                                <% if( fieldData[9]==1) {%>
                                                                                                    <td>
                                                                                                        <%=data.Ref %>
                                                                                                    </td>
                                                                                                    <% } %>

                                                                                                        <% if( fieldData[10]==1) {%>
                                                                                                            <td>
                                                                                                                <%=data.status_id %>
                                                                                                            </td>
                                                                                                            <% } %>

                                                                                                                <% if( fieldData[11]==1) {%>
                                                                                                                    <td>
                                                                                                                        <%=data.mail_id %>
                                                                                                                    </td>
                                                                                                                    <% } %>

                                                                                                                        <% if( fieldData[12]==1) {%>
                                                                                                                            <td>
                                                                                                                                <%=data.contact %>
                                                                                                                            </td>
                                                                                                                            <% } %>

                                                                                                                                <% if( fieldData[13]==1) {%>
                                                                                                                                    <td>
                                                                                                                                        <%=data.billing_name %>
                                                                                                                                    </td>
                                                                                                                                    <% } %>

                                                                                                                                        <% if( fieldData[14]==1) {%>
                                                                                                                                            <td>
                                                                                                                                                <%=data.billing_address %>
                                                                                                                                            </td>
                                                                                                                                            <% } %>

                                                                                                                                                <% if( fieldData[15]==1) {%>
                                                                                                                                                    <td>
                                                                                                                                                        <%=data.billing_address %>
                                                                                                                                                    </td>
                                                                                                                                                    <% } %>

                                                                                                                                                        <% if( fieldData[16]==1) {%>
                                                                                                                                                            <td>
                                                                                                                                                                <%=data.billing_email %>
                                                                                                                                                            </td>
                                                                                                                                                            <% } %>

                                                                                                                                                                <% if( fieldData[17]==1) {%>
                                                                                                                                                                    <td>
                                                                                                                                                                        <%=data.billing_cc %>
                                                                                                                                                                    </td>
                                                                                                                                                                    <% } %>

                                                                                                                                                                        <% if( fieldData[18]==1) {%>
                                                                                                                                                                            <td>
                                                                                                                                                                                <%=data.line %>
                                                                                                                                                                            </td>
                                                                                                                                                                            <% } %>

                                                                                                                                                                                <td>
                                                                                                                                                                                    View
                                                                                                                                                                                    <br> <a href="/editproject/<%=data.client_id %>/<%=data.project_id %>">Edit</a>
                                                                                                                                                                                    <br> <a href="/deleteproject/<%=data.client_id %>/<%=data.project_id %>">Delete</a>
                                                                                                                                                                                    <%= console.log("eto yung data" + data) %>
                                                                                                                                                                                        <br>
                                                                                                                                                                                </td>

                    </tr>
                    <%  i++; }) %>
                        <% } else{ %>
                            <tr>
                                <td colspan=" 7 ">No Data Found</td>
                            </tr>
                            <% } %>
            </table>
            
</body>

</html>
<script>
</script>